.login-container {
  display: flex;
  text-align: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forgot-pass-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-heading {
  display: flex;
  text-align: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(121, 189, 19);
  font-weight: 1000;
  letter-spacing: 4px;
  background-color: antiquewhite;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(83, 230, 235);
}

.heading {
  padding-bottom: 50px;
  text-decoration: underline;
  letter-spacing: 3px;
  color: rgb(121, 189, 19)
}

.home {
  padding: 20px;
  letter-spacing: 2px;
  color: rgb(189, 144, 19);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.login-forgot {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.forgot-email{
  margin-top: 50px;
  color:rgb(80, 17, 139);
  font-weight: bold;
  letter-spacing: 2px;
  width: 450px;
}

.label{
  width: 450px;
}